body {
    background-color: salmon;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

#blogContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1 rem;
}

#blogContainer div {
    background-color: white;
    border-radius: 5px;
    color: #333;
    padding: 1rem;
}